@model DCDGear.ViewModel.UserModel
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
    $(document).ready(function () {
            //custom alert
            $('#alertM').removeClass('hide');
            $('#alertM').delay(1000).slideUp(500);
        });</script>
}
@if (ViewBag.Success != null)
{
    <div id="alertM" class="alert alert-success hide">
        @ViewBag.Success
    </div>}
<div class="row">
    @using (Html.BeginForm("ChangePassWord", "Home", FormMethod.Post, new { @style = "padding-left: 300px" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-6">

            <div class="matKhau">
                <label><b>Mật khẩu <p style="color:red; float:right">*</p></b></label>
                @Html.PasswordFor(model => model.OldPassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldPassWord, "", new { @class = "text-danger" })
            </div>
            <div class="matKhau">
                <label><b>Mật khẩu mới<p style="color:red; float:right">*</p></b></label>
                @Html.PasswordFor(model => model.NewPassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassWord, "", new { @class = "text-danger" })
            </div>
            <div class="xacNhanMatKhau">
                <label><b>Nhập lại mật khẩu <p style="color:red; float:right">*</p></b></label>
                @Html.PasswordFor(model => model.ConfirmPassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassWord, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6" style="padding-left:100px">
                    <div class="btn-dangKy">
                        <button type="submit">Đổi mat khau</button>
                    </div>
                </div>
                <div class="col-6" style="padding-left:100px">
                    <div class="btn-dangKy">
                        <button type="reset">Làm Lại</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>