@model DCDGear.Models.Banner
@{
    ViewBag.Title = "DCD Gear";

    var listNewsNew = (List<DCDGear.Models.New>)ViewBag.ListNewsNew;
    var listNewsNew1 = (List<DCDGear.Models.New>)ViewBag.ListNewsNew1;
    var listProductsNew = (List<DCDGear.Models.Product>)ViewBag.ListProductsNew;
    var ListRepresentative = (List<DCDGear.Models.Product>)ViewBag.ListRepresentative;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="laptopCarousel">
    <!-- data-ride="carousel" -->
    <div id="carouselLaptop" class="carousel slide carousel-fade">
        <ol class="carousel-indicators container">
            @{
                for (int i = 0; i < Model.Image.Split(',').Length; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselLaptop" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carouselLaptop" data-slide-to="@i"></li>
                    }
                }
            }
        </ol>
        <div class="carousel-inner">
            @{

                for (int path = 0; path < Model.Image.Split(',').Length; path++) //tach chuoi
                {
                    string newpath = Model.Image.Split(',')[path];
                    if (path == 0)
                    {
                        <div class="carousel-item active">
                            <div class="overlay"></div>
                            <img src="@Url.Content("/Assets/Thumbnail/" + newpath)" class="d-block w-100" alt="...">
                            <div class="container carousel-caption d-none d-md-block">

                                <p class="text-warning ">DCD</p>
                                <h2 class="display-4">DCDGEAR</h2>
                                <p>
                                    Claritas est etiam processus dynamicus, qui sequitur mutati onem consuetudium lectorum. Mirum
                                    est notare quam littera gothica, quam n unc putamus parum.
                                </p>
                                <div>
                                    <span class="border rounded-circle p-2">PG</span>
                                    <button class="btn_trailer"> <i class="fa fa-play mr-2"></i>About</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="overlay"></div>
                            <img src="@Url.Content("/Assets/Thumbnail/" + newpath)" class="d-block w-100" alt="...">
                            <div class="container carousel-caption d-none d-md-block">
                                <p class="text-warning">ACTION, ADVENTURE, FANTASY</p>
                                <h2 class="display-4">End of the World: Part II</h2>
                                <p>
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                                    est notare quam littera gothica, quam nunc putamu.
                                </p>
                                <div>
                                    <span class="border rounded-circle p-2">PG</span>
                                    <button class="btn_trailer"> <i class="fa fa-play mr-2"></i>PLAY TRAILER</button>
                                </div>
                            </div>
                        </div>
                    }


                }

            }

        </div>
    </div>
</section>
<section class="newIn">
    <div class="container">
        <h1 class="newIn__title">Sản Phẩm Tiêu Biểu</h1>
        <div class="d-flex">
            <div class="row">
                @foreach (var item in ListRepresentative)
                {
                    var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ID;
                    <div class="col-6 col-md-3">
                        <div class="newIn__item">
                            <div class="newIn__info">
                                <img class="img-fluid" src="~/Assets/Thumbnail/@item.Image.Split(',')[0]" alt="">
                                <div class="newIn__overlay"></div>
                                <div class="newIn__detail">
                                    <a href="@url">@item.Name</a>
                                    <p>Release: @item.CreateDate.Value.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                            <p class="newIn__item__title">@item.Name</p>
                            <p class="newIn__item__rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="productNew">
    <div class="container">
        <h1 class="newProductTitle">Sản Phẩm Mới</h1>
        <div class="slider owl-carousel">
            @foreach (var item in listProductsNew)
            {
                var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ID;
                <div class="card">
                    <div class="img">
                        <a href="@url"><img src="/Assets/Thumbnail/@item.Image.Split(',')[0]" alt=""></a>
                    </div>
                    <div class="content">
                        <div class="title">@item.Name</div>
                        <div class="sub-title"> @(item.PromotionPrice.HasValue? item.PromotionPrice.Value.ToString("N0"):"") VND</div>
                        <strike>@item.Price.Value.ToString("N0") VND</strike>
                        <div class="btn">
                            <a href="@url" class="button">Read More</a>

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<section class="technology">
    <div class="container">
        <div class="row">

            @foreach (var list in listNewsNew1)
            {<div class="col-6">
                    <h2>@list.Name</h2>
                    <p>
                        @list.Description
                    </p>
                    <button class="btn btn-success">Mua Ngay</button>
                </div>
                <div class="col-6">
                    <a href="/tin-tuc/@list.SeoTitle-@list.ID"> <img src="/Assets/Thumbnail/@list.Image" alt="" width="100%" height="100%"></a>
                </div>
            }

        </div>
    </div>
</section>
<section class="productSell">
    <div class="container">
        <h1 class="newProductTitle">Sản Phẩm Bán Chạy</h1>
        <div class="slider owl-carousel">
            @foreach (var item in listProductsNew)
            {
            <form action="/chi-tiet/@item.SeoTitle-@item.ID">
                <div class="card">
                    <div class="img">
                        <a href="/chi-tiet/@item.SeoTitle-@item.ID"><img src="/Assets/Thumbnail/@item.Image.Split(',')[0]" alt=""></a>
                    </div>
                    <div class="content">
                        <div class="title">@item.Name</div>
                        <div class="sub-title"> @(item.PromotionPrice.HasValue? item.PromotionPrice.Value.ToString("N0"):item.Price.Value.ToString("N0"))</div>
                        <strike>@item.Price.Value.ToString("N0")D</strike>
                        <div class="btn">
                            <button>Xem thêm</button>
                        </div>
                    </div>
                </div>
            </form>
            }
        </div>
    </div>
</section>
<section class="logo">
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/Assets/Client/img/logo1.png" alt="anh">
                </div>
                <div class="col-2">
                    <img src="/Assets/Client/img/logo2.png" alt="anh">
                </div>
                <div class="col-2">
                    <a href="/san-pham/laptop-msi-1"><img src="/Assets/Client/img/logo3.png" alt="anh"></a>
                </div>
                <div class="col-2">
                    <img src="/Assets/Client/img/logo4.png" alt="anh">
                </div>
                <div class="col-2">
                    <img src="/Assets/Client/img/logo5.png" alt="anh">
                </div>
                <div class="col-2">
                    <a href="/san-pham/laptop-dell-4"><img src="/Assets/Client/img/logo6.png" alt="anh"></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="productSell">
    <div class="container">
        <h1 class="newProductTitle">Tin Tức Mới Nhất</h1>
        <div class="slider owl-carousel">
            @foreach (var item in listNewsNew)
            {
                <div class="card">
                    <div class="img">
                        <img src="/Assets/Thumbnail/@item.Image" alt="">
                    </div>
                    <div class="content">
                        <div class="title">@item.Name</div>
                        <p class="newsText">
                            @item.Description
                        </p>
                        <a href="/chi-tiet-tin-tuc/@item.SeoTitle-@item.ID ">
                            <p>Xem Thêm</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
    });
</script>
