@model List<DCDGear.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">PRODUCT</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active">Danh sach</li>
        </ol>
        <div class="card mb-4">
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <a href="/admin/product/create" class="btn btn-blue btn-flat" style="background-color:#1D89E2; color: #ffffff"><i class="far fa-plus"></i>&nbsp;Thêm mới</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>

                            <th scope="col">Tên tin tức</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.Name</td>
                                <td><img src="@Url.Content("/Assets/Thumbnail/" + item.Image)" width="auto" height="100" /></td>
                                <td>@item.ProductCategory.Name</td>

                                @*<td>@item.Detail</td>*@
                                <td>@item.Price.Value.ToString("N0")Đ</td>
                                <td>
                                    <a href="/Admin/Product/Edit/@item.ID">Edit</a>  ||
                                    <i class="zmdi zmdi - delete">
                                                                        @Ajax.ActionLink("Xoa", "Delete", new { @id = item.ID }, new AjaxOptions
                                        {
                                         Confirm = "Are you sure?",
                                         OnComplete = "$('#row_" + @item.ID + "').remove()",
                                         HttpMethod = "Delete"
                                        })
                                                                    </i>
                                   
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
